*{
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
}
body {
    background-image: url('https://media.licdn.com/dms/image/C4E12AQHgpxBXd8AkPQ/article-cover_image-shrink_600_2000/0/1547659325893?e=2147483647&v=beta&t=Jc0m1CiKPm9dKIEqvynyx1P39uXvmsq7KhLMS0ic-cA');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    backdrop-filter: blur(10px);
    background-color: rgba(238, 238, 238, 0.151);
    padding: 20px;
    border-radius: 10px;
    max-width: 120vh;
    margin: auto;
}

h1{
    text-align: center;
    margin: 20px;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: center;
}

button[type="submit"]{
    max-width: 300px;
    align-self: center;
    display: flex;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    margin: 10px;
    background-color: rgb(122 73 39);
    border-radius: 5px;
    color: white;
}

button:hover{
    background-color: white;
    color:rgb(48, 48, 48);
    transition: all 0.3s ease;
    font-weight: 700;
}

label{
    padding: 5px;
    display: initial;
    text-align: center;
}

input, select{
    margin: 8px;
    height: 40px;
    background: linear-gradient(359deg, rgb(158 155 155) 0%, rgba(255, 255, 255, 1) 100%);
    border-style: none;
    border-bottom: rgb(95, 94, 94) solid 2px;
    border-radius: 10px;
}

.checkDiv{
    display: flex;
    flex-direction: row;
}

#optionBasico, #optionIntermedio, #optionPremium {
    display: none;
}